<h1>Add new word</h1>

<form action="/home/add_word" method="post">
  Word: <input type=text name='word' id='word' />
  <br/>
  Meaning : <input type=text name=meaning id='meaning' />
  <br/>
  <input type=submit value="Add">
</form>

